@import "libs/materialize-src/sass/materialize.scss";
.h1 {font-size: 4.2rem;line-height: 110%;margin: 2.8rem 0 1.68rem 0;}
.h2 {font-size: 3.56rem;line-height: 110%;margin: 2.3733333333rem 0 1.424rem 0;}
.h3 {font-size: 2.92rem;line-height: 110%;margin: 1.9466666667rem 0 1.168rem 0;}
.h4 {font-size: 2.28rem;line-height: 110%;margin: 1.52rem 0 .912rem 0;}
.h5 {font-size: 1.64rem;line-height: 110%;margin: 1.0933333333rem 0 .656rem 0;}
.h6 {font-size: 1.15rem;line-height: 110%;margin: .7666666667rem 0 .46rem 0;}

$circle-btn-size: 50px;


#control-panel{

  &:hover .close-panel-btn{opacity: 1;}

  .close-panel-btn{
    opacity: 0;
    width: $circle-btn-size;
    height: $circle-btn-size;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    right: -$circle-btn-size / 2;
    transition: ease-in-out .3s all;
  }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    a{
          margin-left: 1em;
    }
  }

  .control-list-item{
    padding: 0.5em 1em;
  }

  position: fixed;
  height: 100%;
  .side-panel-control-list{

  }
  .side-panel-time{
    margin: 0;
    padding: 10px;
    time{
      margin: 0;
      display: block;
    }
  }

}
