.map-list-item{
  .map{
    height: 200px
  }
}
.dot{
  position: absolute;
  height: 2em;
  width: 2em;
  .dot-modal{
    display: none;

  }
}


.dot-container{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
  }
