$circle-btn-size: 50px;

#control-panel{
  position: fixed;
  height: 100%;

  &:hover .close-panel-btn{opacity: 1; display: none;}

  .close-panel-btn{
    opacity: 0;
    width: $circle-btn-size;
    height: $circle-btn-size;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    right: -$circle-btn-size / 2;
    transition: ease-in-out .3s all;
  }

  .footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    a{
      margin-left: 1em;
    }
  }
  .options-list{
    overflow-y: auto;
    max-height: 73%;

    &::-webkit-scrollbar {
        width: 8px;
        background: rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border-radius: 4px;
    }
  }

  .control-list-item{
    padding: 0.5em 1em;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    transition: all .4s ease-in-out;
    .control-list-title{
      margin: 0;
      padding-top: 1em;
    }
    .control-list-header{
      min-height: 50px;
      button{
        position: absolute;
        right: 1em;
        top: 1em;
      }
    }
    & + .control-list-item{
      border-top: solid 1px #eee;
    }

  }

  .side-panel-control-list{

  }
  .side-panel-time{
    margin: 0;
    padding: 10px;
    time{
      margin: 0;
      display: block;
    }
  }
  .option-container{
    transition: .4s all ease-in-out;
    max-height: 0;
    overflow: hidden;
    margin: 1em -1em 0em -1em;
    .row{
      padding: 0em 0.75em;
      margin-bottom: 0;
      form.s12{
        margin-top: 0.75rem;
        .input-submit-feild{
          margin: 0;
        }
      }
    }

  }
}
.datepicker-date-display,
.timepicker-digital-display{
flex: auto;
width: 200px;
}
.datepicker-day-button{
  color: #999
}
.is-selected .datepicker-day-button{
  color: #fff
}
